#header {
	font-size: 24pt;
	font-family: papyrus, fantasy;
	color: salmon;
}
body {
	background-color: maroon;
}

#sect_header {
	font-family: serif, Verdana;
	font-size: 18pt;
	color: #b22222;
}
#sub_sect {
	font-family: "Trebuchet MS", "Courier New", serif;
	font-size: 16pt;
	color: crimson;
}

h1 {
	font-family: "Trebuchet MS", "Courier New", serif;
	font-size: 20pt;
	color: coral;
}
#int_list {
	font-family: "Courier New", serif;
	font-size: 12pt;
	color: ivory;
}
#navi {
	display: inline-flex;
}

a:link {
	font-family: helvetica, serif;
	color: steelblue;
}
a:visited {
	font-family: cursive, sans-serif;
	color: slateblue;
}
a:hover {
	font-family: "Comic Sans MS", sans-serif;
	color: navy;
}
